@model ExploreTandT.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
}

<style>
    .text-validate {
        color: white;
    }
</style>

<div id="ForgotPasswordForm">
    <div class="container">
        <h1 class="form-heading"></h1>
        <div class="ForgotPassword-form">
            <div class="main-div">
                <div class="panel" style="background-color: transparent;">
                    <h2>Reset Password</h2>
                    <p>Don't worry you can reset your password</p>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-validate" })
                        <div class="form-group">

                            @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Current Password" } })
                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-validate" })

                        </div>

                        <div class="form-group">

                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "New Password" } })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-validate" })

                        </div>

                        <div class="form-group">

                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm Password" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-validate" })

                        </div>
                        <input type="submit" value="Reset" class="btn btn-primary btn-responsive" />

                    </div>
                }
            </div>
        </div>
    </div>
</div>

