@model ExploreTandT.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
}
<style>
    .text-validate {
        color: white;
    }
</style> 
<div id="RegisterForm">
    <div class="container">
        <h1 class="form-heading"></h1>
        <div class="Register-form">
            <div class="main-div">
                <div class="panel" style="background-color: transparent;">
                    <h2>Sign Up</h2>
                    <p>Sign Up to experience the best Tours across Pakistan</p>
                </div>
                
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-validate" })
                        <div class="form-group">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Name" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-validate" })
                        </div>

                        <div class="form-group">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email Address" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-validate" })
                        </div>

                        <div class="form-group">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-validate" })
                        </div>

                        <div class="form-group">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm Password" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-validate" })
                        </div>

                        <div class="form-group">
                            @Html.EditorFor(model => model.CNIC, new { htmlAttributes = new { @class = "form-control", placeholder = "CNIC" } })
                            @Html.ValidationMessageFor(model => model.CNIC, "", new { @class = "text-validate" })

                        </div>

                        <div class="form-group">
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Address" } })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-validate" })
                        </div>

                        <div class="form-group">
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Phone Number" } })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-validate" })
                        </div>
                        <div class="form-group">
                           
                            <div>
                                <select class="form-control" id="type" >
                  
                                    <option>Tourist</option>
                                    <option>Tour Guide</option>
                                </select>
                            </div>
                        </div>

                        <input type="submit" value="Register" class="btn btn-primary btn-responsive" />
                    </div>
                    }
                    </div>
                </div>
            </div>
        </div>
    </div>

